#map {
    height: 500px;
    margin-bottom: 20px;
    /* Set a background image for non-js users. */
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-image: url('/images/infos/map.png');
}

